@{
    ViewData["Title"] = "Home Page";
}

<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">

        <!-- Masthead Avatar Image -->
        <img class="masthead-avatar mb-5" src="img/avataaars.svg" alt="">

        <!-- Masthead Heading -->
        <h1 class="masthead-heading text-uppercase mb-0">Programmer</h1>

        <!-- Icon Divider -->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- Masthead Subheading -->
        <p class="masthead-subheading font-weight-light mb-0">Create your own programmer and make him the best in the world</p>

    </div>
</header>

@if (this.User.Identity.IsAuthenticated)
{
    <h1>@this.User.Identity.Name</h1>
}

@*About Section*@
<section class="page-section bg-success text-white mb-0" id="about">
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>

        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-address-card"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <div class="row">
            <div class="col-lg-4 ml-auto">
                <p class="lead">Programmer is a free online game about creating and developing your own programmer. In the beginning you work as an intern in a big and famous software company as a coffee bringer, but you are here for more than that. So you have to work and study really hard to fulfil your dream of Becoming a Full Stack Web Developer.</p>
            </div>
            <div class="col-lg-4 mr-auto">
                <p class="lead">As everybody knows to be a programmer you need to have a certain hard skills and soft skills. Your job will be to upgrade those skills by completing different kind of tasks. You are a passionate programmer? You have the same dream? What are you waiting for?</p>
            </div>
        </div>
    </div>
</section>

@*Academy Section*@
<section class="page-section academy" id="academy">
    <div class="container">
        <h2 class="page-section-heading text-center text-secondary mb-0">Programmer Academy</h2>

        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-scroll"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-4">
                <img class="img-fluid" src="~/img/academy.png" alt="Academy">
            </div>
            <div class="col-md-6">
                <p class="lead">Gain skills by enroling on online courses in the Programmer Academy. It is quite expencive but the skills gained in the academy are the most for the game. Moreover the most important skill for every programmer is developed here - Coding. This is because the numerous exercises provided to you.</p>
            </div>
        </div>
    </div>
</section>

@*Googling and Reading Documentation Section*@
<section class="page-section googling" id="googling">
    <div class="container">
        <h2 class="page-section-heading text-center text-secondary mb-0">Reading Documentation and Googling Stuff</h2>

        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-book-reader"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <p class="lead">Every programmer should have the curiosity to google something that he does not know or to read the documentation of a certain library or framework. Moreover studyng only from the academy is not quite enough to become a fluent programmer. So you better start gooling and reading.</p>
            </div>
            <div class="col-md-7">
                <img class="img-fluid" src="~/img/googling.png" alt="GooglingStuff">
            </div>
        </div>
    </div>
</section>

@*Event Section*@
<section class="page-section events" id="events">
    <div class="container">
        <h2 class="page-section-heading text-center text-secondary mb-0">Going on an Events</h2>

        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="far fa-calendar-alt"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <img class="img-fluid" src="~/img/events.png" alt="Events">
            </div>
            <div class="col-md-6">
                <p class="lead">Programming events are an important part of every programmer life. This is the place to meet new people who are programmers just like you and to see something new and completely different from your everyday studing routine.</p>
            </div>
        </div>
    </div>
</section>

@*Job Section*@
<section class="page-section job" id="job">
    <div class="container">
        <h2 class="page-section-heading text-center text-secondary mb-0">Job</h2>

        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-laptop-code"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <p class="lead">In the beginning it is only to bring coffees, but when you upgrade your skills to a certain point your company will hire you as a junior web developer. With this comes the job tasks which will have deadline. Additionaly you will have a minimum job tasks for the week. Don't forget with more tasks comes more money.</p>
            </div>
            <div class="col-md-5">
                <img class="img-fluid align-items-md-end" src="~/img/job.png" alt="Job">
            </div>
        </div>
    </div>
</section>

@*Motivational Section*@
<section class="page-section bg-dark text-center motivation" id="motivation">
    <p class="lead text-white">What are you waiting for? Join Now.</p>
    <div class="text-center mt-4">
        <a class="btn btn-xl btn-outline-light" href="/Identity/Account/Register">
            <i class="fas fa-sign-in-alt"></i>
            Register
        </a>
    </div>
</section>
