
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Programmer.App.Models.Office.OfficeViewModel

<section class="row">
    <div class="col-md-4 mx-5">
        <h2>Stats:</h2>
        @foreach (var kvp in Model.UserStats.Where(s => s.Value != null).OrderBy(x => x.Key))
        {
            <h5 id="@kvp.Key.ToLower()">@kvp.Key - @kvp.Value</h5>
        }
    </div>

    <div class="office col-md-7">
        <img src="~/img/OfficeTemplate-Cropped.jpg" class="office-image" alt="Office" />
        <a href="https://google.com" class="book-shelf item"><i class="fas fa-plus-circle"></i></a>
        <a href="#" class="monitor item"><i class="fas fa-plus-circle"></i></a>
        <a href="#" class="chair item"><i class="fas fa-plus-circle"></i></a>
        <a href="#" class="computer item"><i class="fas fa-plus-circle"></i></a>
        <a href="#" class="keyboard item"><i class="fas fa-plus-circle"></i></a>
        <a href="#" class="mouse item"><i class="fas fa-plus-circle"></i></a>
    </div>
</section>
  