
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-section">
    <h1 class="text-center">Welcome to Online Academy 'Programmer'</h1>

    <p class="text-center lead">Some info about academy. More like an ad. You can copy from SoftUni</p>

    <p class="text-left">Section About Currently available courses.</p>
    <p class="text-right">Section About your courses active and completed.</p>
</section>

